*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: linear-gradient(rgb(131, 205, 131), rgb(46, 134, 46))
}
.container .content{
    text-align: center;
}

.container .content h3{
    font-size: 30px;
    color: black;
}

.container .content h3 span{
    background: black;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
}

.container .content h1{
    font-size: 50px;
    color: black;
}

.container .content h1 span{
    background: Black;
}

.container .content p{
    font-size: 25px;
    margin-bottom: 20px;
}

.container .content .btn{
    transition: 0.2s;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: linear-gradient(rgb(131, 205, 131), rgb(46, 134, 46));
    background-size: 200%;
    color: white;
    font-size: 16px;
}

.container .content .btn:hover{
    background: rgb(114, 234, 148);
    font-size: 18px;
}

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: linear-gradient(rgb(131, 205, 131), rgb(46, 134, 46))
}

.form-container form{
    padding:20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .1);
    background: wheat;
    text-align: center;
    width: 500px;
}

.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: black;
}

.form-container form input,
.form-container form select{
    border-radius: 5px;
    background: rgb(134, 151, 137);
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    outline: none;
    width: 100%;
    color: white;
    font-size: 17px;
}

.form-container form select option{
    background: white;
    color: black;
}
.form-container form .form-btn{
    transition: 0.2s;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: linear-gradient(rgb(131, 205, 131), rgb(46, 134, 46));
    background-size: 200%;
    color: white;
    font-size: 16px;
}

.form-container form .form-btn:hover{
    background: rgb(114, 234, 148);
    font-size: 18px;
}

.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.form-container form p a{
    color: rgb(0, 252, 76);
}

.form-container form .error-msg{
    margin: 10px 0;
    display: block;
    background: crimson;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}